@keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 0.2;
    }
    100% {
      transform: scale(1.1);
      opacity: 1;
    }
}

@keyframes slide {
    0% {
        top: 0px;
    }
    100% {
        top: 100vh;
    }
}

body {
    background: #333;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
}
iframe {
    width: 100%;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    i {
        color: #f1f0e4;
        &:hover {
            color: #ed028c;
        }
    }
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    h1.title {
        color: #f1f0e4;
        font-family: "Roboto", sans-serif !important;
        font-size: 52px;
        margin-right: 15px;
        margin: 0px;
        @media (min-width: 720px) {
            margin-bottom: 25px;
        }
    }
    .icons {
        width: 340px;
        font-size: 26px;
        @media (max-width: 720px) {
            display: none;
        }
    }
}
.video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    iframe {
        width: auto;
    }
}

p.copyright {
    color: #999;
    width: 100%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
}

footer {
    @media (min-width: 720px) {
        display: none;
    }
    position: fixed;
    bottom: 15px;
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid #666;
    .icons {
        i {
            font-size: 32px;
            color: #f1f0e4;
        }
    }
}
.loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ed028c;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        border-radius: 100%;
        animation: pulse 0.7s infinite;
        animation-direction: alternate;
        -webkit-animation-name: pulse;
        animation-name: pulse;
    }
}

.slide {
    animation: slide 1s; 
}
