@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.2;
    }
    100% {
        transform: scale(1.1);
        opacity: 1;
    }
}

@keyframes slide {
    0% {
        top: 0px;
    }
    100% {
        top: 100vh;
    }
}

@keyframes glitch-anim-1 {
    0% {
        clip: rect(30px, 9999px, 10px, 0);
    }
    25% {
        clip: rect(15px, 9999px, 100px, 0);
    }
    50% {
        clip: rect(50px, 9999px, 105px, 0);
    }
    75% {
        clip: rect(2px, 9999px, 80px, 0);
    }
    100% {
        clip: rect(90px, 9999px, 100px, 0);
    }
}

@keyframes glitch-anim-2 {
    0% {
        top: -1px;
        left: 50px;
        clip: rect(65px, 9999px, 119px, 0);
    }
    25% {
        top: -10px;
        left: 1px;
        clip: rect(79px, 9999px, 19px, 0);
    }
    50% {
        top: -7px;
        left: 20px;
        clip: rect(65px, 9999px, 11px, 0);
    }
    75% {
        top: 10px;
        right: 20px;
        left: -50px;
        clip: rect(95px, 9999px, 53px, 0);
    }
    100% {
        top: -5px;
        left: -7px;
        clip: rect(31px, 9999px, 149px, 0);
    }
}
body {
    background: #333;
    margin: 0;
    background-image: url("../img/glitch.gif");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    padding-bottom: 75px;
}
iframe {
    width: 100%;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    i {
        color: #fffad9;
        &:hover {
            color: #b4ff00;
        }
    }
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    .icons {
        width: 300px;
        font-size: 26px;
        background: #000;
        padding: 8px 0px;
        @media (max-width: 720px) {
            display: none;
        }
    }
    .title-container {
        display: flex;
        width: 300px;
        align-items: center;
        justify-content: center;
        h1 {
            margin: auto;
            color: #fffad9;
            font-family: "Roboto", sans-serif !important;
            font-size: 52px;
            margin-right: 15px;
            margin: 0px;
            @media (min-width: 720px) {
                margin-bottom: 25px;
            }
    
            &.glitch {
                position: relative;
                color:   #c4fa02;
                mix-blend-mode: lighten;
                &:before,
                &:after {
                    content: attr(data-text);
                    position: absolute;
                    top: 0;
                    width: 100%;
                    background: black;
                    clip: rect(0, 0, 0, 0);
                }
    
                &:before {
                    left: -4px;
                    text-shadow: 6px 0 #ff00ff;
                }
    
                &:before {
                    text-shadow: 4px 0 #ff00ff;
                    animation: glitch-anim-1 0.4s infinite ease-in-out alternate-reverse;
                }
    
                &:after {
                    left: 4px;
                    text-shadow: -3px 0 #00ffc8;
                }
    
                &:after {
                    text-shadow: -5px 0 #00ffc8;
                    animation: glitch-anim-2 0.3s infinite ease-in-out alternate-reverse;
                }
            }
        }
    }
}
.video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    iframe {
        width: auto;
    }
}

p.about {
    color: #fffad9;
    width: 100%;
    text-align: justify;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background: #000;
    margin-top: -22px;
}
p.copyright {
    color: #fffad9;
    width: 100%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    background: #000;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    border-top: 2px solid #370a88;
    background: #000;
    .icons {
        i {
            font-size: 32px;
            color:  #fffad9;
        }
    }
    @media (min-width: 720px) {
        display: none;
    }
}
.loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ed028c;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        border-radius: 100%;
        animation: pulse 0.7s infinite;
        animation-direction: alternate;
        -webkit-animation-name: pulse;
        animation-name: pulse;
    }
}

.slide {
    animation: slide 1s;
}

